@using ChuanglitouP2P.Common;
@using PagedList.Mvc;
@using ChuangLitouP2P.Models;
@using PagedList
@model PagedList.IPagedList<GrabIphone>
@{
    ViewBag.Title = "1元抢IPhone";
    Layout = "~/Areas/Admin/Views/Shared/_BodyView.cshtml";
}

<link href="~/Areas/Admin/style/chonzhi.css" rel="stylesheet" />
<link href="~/Areas/Admin/style/jcDate.css" rel="stylesheet" />
<link rel="stylesheet" href="/Areas/Admin/styleCont/style.css" />
<link href="~/Areas/Admin/style/pagination.css" rel="stylesheet" />
<link href="~/Areas/Admin/style/liebiao.css" rel="stylesheet" />
<style type="text/css">
    tfoot tr {
        height: 35px;
        line-height: 35px;
        left: 30px;
    }
</style>
<script src="~/Areas/Admin/js/jquery-1.7.1.js"></script>
<script src="~/Areas/Admin/js/jQuery-jcDate.js"></script>
<script src="~/Areas/Admin/js/common.js"></script>
<script src="~/Scripts/layer/layer.min.js"></script>
<script src="~/Areas/Admin/js/DateJs,js.js"></script>







<h2 class="z_location"><a href="javascript:void(0)">当前位置：</a><a href="javascript:void(0)" class="z_mg5">活动管理</a>><a href="javascript:void(0)"> 1元抢IPhone管理</a></h2>

<div class="z_body">
    <p class="tP3">
        快速搜索
    </p>
    @using (Html.BeginForm("Index", "ActivityManager", FormMethod.Post, new { enctype = "multipart/form-data", @class = "registerform", @name = "Form1" }))
            {
        @Html.AntiForgeryToken()
        <p class="tP4 tx_tp4">


            <i>
                类型:@UserControl.Act_Reward()

            </i>

            <input type="submit" class="btn2" value="查&nbsp;&nbsp;&nbsp;询" />

        </p>
    }
    <span class="icon-sprite icon-list"></span>
    <h3 class="listtitle">1元抢IPhone管理</h3>


    <table class="listtable" cellspacing="0" cellpadding="0">
        <tr class="tz_tr">

            <td width="56">序号</td>
            <td width="116">用户ID</td>
            <td width="122">录入时间</td>
            <td width="110">是否中奖</td>
            <td width="113">所属标的ID </td>



        </tr>

        @if (Model != null)
        {

            foreach (var item in Model)
            {
                <tr>

                    <td>@(item.ID)</td>
                    <td>@(item.RegrsterID)</td>
                    <td>@(item.Addtime)</td>
                    <td>
                        @if (item.WinningState == 1)
                        {
                            @:已中奖
	                        }
                    </td>
                    <td>@(item.TargetID)</td>

                </tr>
            }
        }
    </table>
    <div class="pagination ue-clear">
        <div class="pagination-container">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, Reward = @ViewBag.Reward }))

        </div>
    </div>
</div>

<script>
    $('#Reward').val(@ViewBag.Reward);

</script>