@using ChuangLitouP2P.Models;
@using ChuanglitouP2P.Common;
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<hx_UserAct>


<p class="xs1 changeP">

    @if (Model.Count > 0)
    {
        ChuanglitouP2P.BLL.EF.ActBase aBase = new ChuanglitouP2P.BLL.EF.ActBase();
        string limitStr = "";
        foreach (hx_UserAct item in Model)
        {
            aBase.GetCanUseLimit(item.UseLifeLoan, out limitStr);
            limitStr = limitStr == "投资使用无限制" ? "" : limitStr;
            <em class="cThro emP" onmousemove="mOver(this)" onmouseout="mOut(this)" style="background: url(../images/cThrJiaxi.jpg) no-repeat;">
                @*@if (item.Amt == Convert.ToDecimal(1.00))
                {
                    <small style="margin:5px 10px;position:absolute;font-size:12px;">仅限投资三个月标</small>
                }
                else if (item.Amt == Convert.ToDecimal(2.00))
                {
                    <small style="margin:5px 10px;position:absolute;font-size:12px;">仅限投资六个月标</small>
                }*@
                <small style="margin:5px 10px;position:absolute;font-size:12px;">@limitStr</small>
                <i class="cThr">
                    @item.Amt
                    <strong>%</strong>
                </i>
                <b>
                    来&nbsp;&nbsp;&nbsp;源：
                    @if (item.hx_ActivityTable != null && item.hx_ActivityTable.ActName != string.Empty)
                    {
                        @Html.Raw(item.hx_ActivityTable.ActName);
                    }
                    else if (item.Title == null || item.Title == string.Empty)
                    {
                        @Html.Raw(item.hx_ActivityType.ActName);
                    }
                    else
                    {
                        @Html.Raw(item.Title);
                    }
                </b><br />
                <b>有效期：@Utils.GetStandardDateTime(item.Createtime.ToString(), "yyyy-MM-dd")至 @Utils.GetStandardDateTime(item.AmtEndtime.ToString(), "yyyy-MM-dd")</b>
                <em class="cBak1 cCom1">
                    <img class="cImg" src="/images/cBak2.png" alt="" />已使用
                </em>
            </em>
        }


         <!--分页效果-->
        <div class="page_box">
            <div class="page_left">
                @Ajax.Pager(Model, new PagerOptions { FirstPageText = "<<", LastPageText = ">>", NextPageText = ">", PrevPageText = "<", ContainerTagName = "ul", PageIndexParameterName = "pageIndex1", NumericPagerItemCount = 5, CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", PageIndexBoxId = "pageIndexBox3", GoToButtonId = "goToBtn3" }, new MvcAjaxOptions
           { UpdateTargetId = "JiaxiUses", HttpMethod = "Post", DataFormId = "searchForm1", OnBegin = "AjaxStart()", OnComplete = "AjaxStop()" }).Options(o => o.AddRouteValue("target", "JiaxiUses")).AjaxOptions(a => a.SetUpdateTargetId("JiaxiUses"))
            </div>
            <div class="page_right">
                <div class="input-group" style="margin:20px 0">
                    <span class="input-group-addon">转到第</span>
                    <input type="text" id="pageIndexBox3" class="form-control input-sm" />
                    <span class="input-group-addon">页</span>
                    <span class="input-group-btn"><button class="btn btn-primary btn-sm" id="goToBtn3">跳转</button></span>
                </div>
            </div>
        </div>

    }
    else
    {

        <span style="" class="meiyou">暂无记录</span>}

</p>