@using Webdiyer.WebControls.Mvc
@using ChuangLitouP2P.Models;
@model PagedList<hx_td_System_message>



    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="nCommon" >
                <b>
                    <img class="nImg" src="/images/wsh_nMs.jpg" alt="" />
                    标题：@item.MTitle
                    <i>@DateTime.Parse(item.PubTime.ToString())</i>
                </b>
                <a id="@item.Messageid" onclick="messagesdel(@item.Messageid)">
                    删除
                    <img src="/images/nAdel.jpg" alt="" />
                </a>
                <div class="nIntro nNo">
                    @item.MContext
                </div>
            </div>

        }

        <div class="page_box">
            <div class="page_left">
                @Ajax.Pager(Model, new PagerOptions { FirstPageText = "<<", LastPageText = ">>", NextPageText = ">", PrevPageText = "<", ContainerTagName = "ul", NumericPagerItemCount = 5, CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", PageIndexBoxId = "pageIndexBox2", GoToButtonId = "goToBtn2" }, new MvcAjaxOptions
       { UpdateTargetId = "dTable", HttpMethod = "Post", DataFormId = "searchForm", OnBegin = "AjaxStart()", OnComplete = "AjaxStop()" }).Options(o => o.AddRouteValue("target", "dTable")).AjaxOptions(a => a.SetUpdateTargetId("dTable"))
            </div>
            <div class="page_right">
                <div class="input-group" style="margin:20px 0">
                    <span class="input-group-addon">转到第</span>
                    <input type="text" id="pageIndexBox2" class="form-control input-sm" />
                    <span class="input-group-addon">页</span>
                    <span class="input-group-btn"><button class="btn btn-primary btn-sm" id="goToBtn2">跳转</button></span>
                </div>
            </div>
        </div>




    }


    




