@using ChuangLitouP2P.Models;
@using ChuanglitouP2P.Common;
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<V_Recharge_user_bank>

<div class="dTable" id="dTable">

    

        @if (Model != null)
        {
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr class="dTable_tr">
                        <td>充值时间</td>
                        <td>充值金额</td>
                        <td>充值银行</td>
                        <td class="dTchange1">充值订单号</td>
                        <td>
                            充值状态
                        </td>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Utils.GetDateFormat((DateTime)item.recharge_time)</td>
                        <td>@item.recharge_amount 元</td>
                        <td>@item.BankName (@item.recharge_bank)</td>
                        <td class="dTchange1">
                            @item.order_No
                        </td>
                        <td class="dTchange2"> @Utils.GetRecharge_condition(item.recharge_condition.ToString())</td>
                    </tr>
                }
            </table>
            

        <div class="page_box">
            <div class="page_left">
                @Ajax.Pager(Model, new PagerOptions { FirstPageText = "<<", LastPageText = ">>", NextPageText = ">", PrevPageText = "<", ContainerTagName = "ul", NumericPagerItemCount = 5, CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", PageIndexBoxId = "pageIndexBox2", GoToButtonId = "goToBtn2" }, new MvcAjaxOptions
           { UpdateTargetId = "dTable", HttpMethod = "Post", DataFormId = "searchForm", OnBegin = "AjaxStart()", OnComplete = "AjaxStop()" }).Options(o => o.AddRouteValue("target", "dTable")).AjaxOptions(a => a.SetUpdateTargetId("dTable"))
            </div>
            <div class="page_right">
                <div class="input-group" style="margin:20px 0">
                    <span class="input-group-addon">转到第</span>
                    <input type="text" id="pageIndexBox2" class="form-control input-sm" />
                    <span class="input-group-addon">页</span>
                    <span class="input-group-btn"><button class="btn btn-primary btn-sm" id="goToBtn2">跳转</button></span>
                </div>
            </div>
        </div>

        }
</div>