
@using ChuangLitouP2P.Models
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<ChuangLitouP2P.Models.V_Phone_records>
@{
    ViewBag.Title = "会员沟通";
    Layout = "~/Areas/Admin/Views/Shared/_BodyView.cshtml";

    hx_member_table member = ViewBag.member == null ? default(hx_member_table) : ViewBag.member as hx_member_table;
}

<link href="~/Areas/Admin/style/jcDate.css" rel="stylesheet" />
<link rel="stylesheet" href="/Areas/Admin/styleCont/style.css" />
<link href="~/Areas/Admin/style/xiangqing.css" rel="stylesheet" />

<script src="~/Areas/Admin/js/jquery-1.7.1.js"></script>
<script src="~/Areas/Admin/js/jQuery-jcDate.js"></script>
<script src="~/Areas/Admin/js/common.js"></script>
<script src="~/Scripts/layer/layer.min.js"></script>
<script src="~/Areas/Admin/js/DateJs,js.js"></script>
<script src="~/Areas/Admin/js/xiangqing.js"></script>
<script src="~/Scripts/Validform_v5.3.2_min.js"></script>

<div class="v_right xq_right">
    <div class="xq_rig_top">
        当前位置：会员管理>会员@(member.realname)的详情页
    </div>
    <div class="xq_rig_content">
        <div class="xq_rig_con">
            <div class="xq_con_top">
                <a href="/admin/Users/Detail?id=@(member.registerid)">
                    @(member.realname)详情页
                </a>
                <a href="#" style="background: #fff;border-bottom: 0;" class="xq_con_top_p">
                    会员沟通
                </a>
            </div>


            <!--会员沟通的-->
            <div class="gt_con_mid" style="padding-bottom: 20px;">
                <div class="gt_con_top">
                    添加沟通详情：
                </div>
                @using (Html.BeginForm("PostUserRecords", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @class = "registerform", @name = "Form2" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="registerid" name="registerid" value="@(ViewBag.id)" />
                    <div class="gt_mid_con">
                        <p class="gt_mid_p1">
                            <b>沟通内容:</b>
                            <textarea id="recordcontext" name="recordcontext" datatype="*" nullmsg="请输入沟通内容"></textarea>
                            <span class="Validform_checktip"></span>
                        </p>
                        <p class="gt_mid_p2">
                            <i>
                                <b>沟通方式：</b>
                                <a href="#" onclick="javascript:SetgtType(1);" style="color: rgb(56, 142, 241); border-color: rgb(56, 142, 241);">电话</a>
                                <a href="#" onclick="javascript: SetgtType(2);" >QQ</a>
                                <a href="#" onclick="javascript: SetgtType(3);" >其他</a>
                            </i>
                            <i>

                                                                                               
                                                            

                                <b>问题类别：</b>
                                <a href="#"  onclick="javascript: SetproblemType(1);"  style="color: rgb(56, 142, 241); border-color: rgb(56, 142, 241);">操作类</a>
                                <a href="#"  onclick="javascript: SetproblemType(2);" >投资类</a>
                                <a href="#"  onclick="javascript: SetproblemType(3);" >绑定银行卡</a>
                                <a href="#"  onclick="javascript: SetproblemType(4);" >第三方</a>
                                <a href="#"  onclick="javascript: SetproblemType(5);" >充值提现类</a>
                                <a style="margin-left: 84px;" href="#"  onclick="javascript: SetproblemType(6);" >活动类</a>
                                <a href="#"  onclick="javascript: SetproblemType(7);" >掉单类</a>
                                <a href="#"  onclick="javascript: SetproblemType(8);" >其他</a>
                            </i>
                            <input type="submit" class="gt_btn1" value="提交" />
                            <input type="hidden" id="gtType" name="gtType" value="电话" />
                            <input type="hidden" id="problemType" name="problemType" value="操作类" />
                        </p>
                    </div>
                }
                @using (Html.BeginForm("ContactRecords", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @class = "registerform", @name = "Form1" }))
                {

                    <p class="gt_mid_p3">
                        沟通记录：与该会员共沟通过@(ViewBag.TotalNum)次。
                    </p>
                    <p class="gt_mid_p4">
                        问题类别：
                        <select name="problemType1" id="problemType1" style="padding-left: 10px;margin-right: 30px;">
                            <option value="0">请选择</option>
                            <option value="1">操作类</option>
                            <option value="2">投资类</option>
                            <option value="3">绑定银行卡</option>
                            <option value="4">第三方</option>
                            <option value="5">充值提现类</option>
                            <option value="6">活动类</option>
                            <option value="7">掉单类</option>
                            <option value="8">其他</option>
                        </select>
                        沟通方式：
                        <select name="gtType1" id="gtType1" style="padding-left: 10px;margin-right: 70px;">
                            <option value="0">请选择</option>
                            <option value="1">电话</option>
                            <option value="2">QQ</option>
                            <option value="3">其他</option>
                        </select>
                        <input type="submit" value="查询" />
                        <input type="hidden" id="id" name="id" value="@(ViewBag.id)" />
                        <input type="hidden" id="hid_gtType" value="@ViewBag.gtType" />
                        <input type="hidden" id="hid_problemType" value="@ViewBag.problemType" />
                    </p>
                }
                <table class="gt_con_mid_tab" cellpadding="0" cellspacing="0">
                    <tr class="gt_con_mid_tab_tr">
                        <td width="67">序号</td>
                        <td width="182">沟通时间</td>
                        <td width="120">问题类别</td>
                        <td width="320">沟通内容</td>
                        <td width="150">沟通方式</td>
                        <td width="100">客服</td>
                    </tr>
                    @if (Model != null)
                    {
                        int _index = 0;
                        foreach (var item in Model)
                        {
                            _index = _index + 1;
                            <tr>
                                <td>@(_index)</td>
                                <td>@(((DateTime)item.recordtime).ToString("yyyy-MM-dd HH:mm:ss"))</td>
                                <td>@(item.problemType)</td>
                                <td style="padding-left: 10px;padding-right: 10px;">
                                    @(item.recordcontext)
                                </td>
                                <td>@(item.gtType)</td>
                                <td>@(item.adminuser)</td>
                            </tr>
                        }
                    }
                </table>
                <div class="pagination ue-clear">
                    <div class="pagination-container">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("ContactRecords", new { page, id = @ViewBag.id }))
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        initPage();
    });

    $(".registerform").Validform({
        tiptype: 4

    });
    $.extend($.Datatype, {
        "z2-4": /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/,
        "d": /^(\d{4})\-(\d{2})\-(\d{2})|(\d{4})\-(\d{1})\-(\d{1})|(\d{4})\-(\d{1})\-(\d{2})$/,
        "day1": /^[1-2]\d{0,1}$|^28$/,
        "day2": /^([1-9]|(1[0-9])|(2[0-8]))$/,
        "mobile": /^0?(13[0-9]|15[012356789]|18[0123456789]|17[0123456789]|14[57])[0-9]{8}$/,
        "regex": /^[^\u4E00-\u9FA5]{3,20}$/,
        "regex1": /^[0-9A-Za-z]{6,25}$/,
        "float": /([0-9]+.[0-9]{2})[0-9]*/,
        "money": /^\d{1,12}(?:\.\d{1,2})?$/,
        "n": /^\d+$/,
        "daytime": /^(\d{4})\-(\d{2})\-(\d{2}) (\d{2}):(\d{2}):(\d{2})$/,
        "time2": /^(\d{4})\-(\d{1,2})\-(\d{1,2}) (\d{2}):(\d{2}):(\d{2})$/,
        "int": /[1-9]\d*/

    });

    function initPage() {
        var problemType = document.getElementById("hid_problemType").value;
        var gtType = document.getElementById("hid_gtType").value;
       
        $("#problemType1").val(problemType);
        $("#gtType1").val(gtType);
    }

    function SetgtType(obj) {
        $("#gtType").val(obj);
    }
    function SetproblemType(obj) {
        $("#problemType").val(obj);
    }

</script>