
@using ChuanglitouP2P.Common;
@using PagedList.Mvc
@using PagedList;
@using ChuanglitouP2P.Models;
@using ChuanglitouP2P.Model;
@model PagedList.IPagedList<ChuangLitouP2P.Models.ViewDetailsReport>
@{
    ViewBag.Title = "明细报表";
    Layout = "~/Areas/Admin/Views/Shared/_BodyView.cshtml";
    List<Employee> employeelist = ViewBag.EmployeeList;
}

<link href="~/Areas/Admin/style/chonzhi.css" rel="stylesheet" />
<link href="~/Areas/Admin/style/jcDate.css" rel="stylesheet" />
<link rel="stylesheet" href="/Areas/Admin/styleCont/style.css" />
<link href="~/Areas/Admin/style/pagination.css" rel="stylesheet" />
<link href="~/Areas/Admin/style/liebiao.css" rel="stylesheet" />
<style type="text/css">
    tfoot tr {
        height: 35px;
        line-height: 35px;
        left: 30px;
    }
</style>
<script src="~/Areas/Admin/js/jquery-1.7.1.js"></script>
<script src="~/Areas/Admin/js/jQuery-jcDate.js"></script>
<script src="~/Areas/Admin/js/common.js"></script>
<script src="~/Scripts/layer/layer.min.js"></script>
<script src="~/Areas/Admin/js/DateJs,js.js"></script>

<script type="text/javascript">
    $(function () {
        var staffname = $("#hid_staffname").val();
        $("#staffname").val(staffname);

        $("#downloadExcel").bind("click", function () {
            outputExcel();
        });
    });

    function outputExcel() {

        var starttime = $("#startTime").val();
        var endTime = $("#endTime").val();
        var staffname = $("#staffname").val();
        if (staffname == null || staffname == -1) {
            staffname = -1;
        }

        var url = "/admin/Users/ExternalImportData?starttime=" + starttime + "&endtime=" + endTime + "&staffname=" + staffname;

        $.ajax({
            type: 'Get',
            url: "/admin/Users/DetailsReportToExcel",
            data: { starttime: starttime, endtime: endTime, staffname: staffname},
            //dataType: dataType,
            success: function (data) {
                if (data == "您没有操作权限") {
                    alert("您没有操作权限");
                } else {
                    downloadExcel(data);
                }
            },
            error: function () {
                alert("异常！");
            }
        });
    };


    function downloadExcel(url) {
        var obj = $("#downloadExcelBtn");
        obj.attr("href", url);
        document.getElementById("downloadExcelBtn").click();
        // obj.click();
    }

    function closewindows() {
        layer.close(editwindow);
    }

</script>

<h2 class="z_location"><a href="javascript:void(0)">当前位置：</a><a href="javascript:void(0)" class="z_mg5">会员管理</a>><a href="javascript:void(0)"> 会员</a></h2>
<div class="z_body">
    @*<div class="tz_box cz_box">*@
    <p class="tP3">
        快速搜索
    </p>
    @using (Html.BeginForm("DetailsReportCondition", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @class = "registerform", @name = "Form1" }))
    {
        @Html.AntiForgeryToken()
        <div class="tP4 tx_tp4" style="height:60px; padding-bottom:15px; ">

            <div style="margin-top:1em;">
                <label for="starttime">时间：</label>
                <input type="text" class="jcDate jcDateIco" style="padding-left:30px;line-height:20px;width:70px;" id="starttime" name="starttime" value="@(ViewBag.starttime)" autocomplete="off" />-<input type="text" class="jcDate jcDateIco" style="padding-left:30px;line-height:20px;width:70px;" id="endtime" name="endtime" value="@(ViewBag.endtime)" autocomplete="off" />
                <label for="realname">员工姓名：</label>&nbsp;
                <select name="staffname" id="staffname" style="height:20px;width:152px;">
                    <option value="-1">所有</option>
                    @if (employeelist != null)
                    {
                        foreach (var item in employeelist)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    }
                </select>
                &nbsp;
                <input type="submit" class="btn2" value="查&nbsp;&nbsp;&nbsp;询" />
                <input type="button" class="btn2" id="downloadExcel" value="导&nbsp;&nbsp;&nbsp;出" />
                <input type="hidden" id="hid_staffname" value="@ViewBag.staffname" />
            </div>
        </div>
    }
    <span class="icon-sprite icon-list"></span>
    <h3 class="listtitle">
        明细报表
    </h3>

    <table cellspacing="0" cellpadding="0" class="listtable">
        <tbody>
            <tr class="tz_tr">
                <th scope="col">用户Id</th>
                <th scope="col">客户姓名 </th>
                <th scope="col">登录名</th>
                <th scope="col">注册时间</th>
                <th scope="col">投资金额</th>
                <th scope="col">折标金额</th>
                <th scope="col">充值金额</th>
                <th scope="col">首复投</th>
                <th scope="col">1月期总额</th>
                <th scope="col">3月期总额</th>
                <th scope="col">6月期总额</th>
            </tr>
           @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.registerid</td>
                    
                    @if (Session["username"] != null&&!ConfigHelper.GetConfigString("SupAuthorityUsers").ToString().Contains(Session["username"].ToString()))
                    {
                        if (item.username.Length == 11 && !String.IsNullOrEmpty(item.username))
                        {
                            item.username = item.username.Substring(0, 3) + "****" + item.username.Substring(7, 4);
                        }
                        if (item.username.Length != 11 && !String.IsNullOrEmpty(item.username) && item.username.Length > 1)
                        {
                            item.username = item.username.Substring(0, 1) + "**";
                        }
                        if (item.realname != null && item.realname.Length > 1)
                        {
                            item.realname = item.realname.Substring(0, 1) + "**";
                        }
                        item.mobile = item.mobile.Substring(0, 3) + "****" + item.mobile.Substring(7, 4);
                    }
                    <td>@item.realname</td>
                    <td>@item.username</td>
                    <td>@item.registration_time</td>
                    <td>@item.InvestAllMoney</td>
                    <td>@item.FoldAllMoney</td>
                    <td>@item.RechargeAllMoney</td>
                    <td>@item.IsFirstInvest</td>
                    <td>@item.JanMoney</td>
                    <td>@item.MarMoney</td>
                    <td>@item.JunMoney</td>
                    @*@if (!ConfigHelper.GetConfigString("SupAuthorityUsers").ToString().Contains(Session["username"].ToString()))
                    {

                        if (item.username.Length == 11 && string.Compare(item.usertypes.ToString(), "1") >= 0)
                        {
                            item.mobile = item.mobile.Substring(0, 3) + "****" + item.mobile.Substring(7, 4);
                            if (item.realname != null)
                            {
                                item.realname = item.realname.Substring(0, 1) + "**";
                            }
                            if (item.username != null)
                            {
                                item.username = item.username.Substring(0, 3) + "****" + item.username.Substring(7, 4);
                            }
                        }
                        else if (item.username.Length != 11 && string.Compare(item.usertypes.ToString(), "1") >= 0)
                        {
                            item.mobile = item.mobile.Substring(0, 3) + "****" + item.mobile.Substring(7, 4);
                        }
                    }*@
                </tr>
               }
           }
        </tbody>
    </table>

    <style type="text/css">
        .PagedList-goToPage {
            display: inline-block;
            width: 20%;
        }

            .PagedList-goToPage fieldset {
                border: none;
            }

        .pagination-container {
            display: inline-block;
            width: 55%;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $(".PagedList-goToPage label").text("页码");
            $(".PagedList-goToPage input[type='submit']").val("跳转");
        })
    </script>
    <div class="pagination ue-clear">
        <div>
            <div style="overflow:hidden">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("DetailsReportCondition", new
           {
               page,
               starttime = @ViewBag.startTime,
               endTime = @ViewBag.EndTime,
               staffname = @ViewBag.staffname
           }))
                @Html.PagedListGoToPageForm((IPagedList)Model, Url.Action("DetailsReportCondition", new
           {
               starttime = @ViewBag.startTime,
               endTime = @ViewBag.EndTime,
               staffname = @ViewBag.staffname
           }))
            </div>
            <div style="padding:10px;font-weight:600">共 @ViewBag.TotalItemCount 条， @ViewBag.TotalPageCount 页数据</div>
        </div>
    </div>
    <br /><br />
   @*@Html.Raw(ViewBag.PageData)*@
    @*</div>*@
</div>

<a href="" id="downloadExcelBtn" style="display:none;"></a>

<!--弹出框-->

<script>
    $(function () {
        $('.cnt-wp table tr').css('background', '#f7f7f7');
        $('.ffjl').click(function () {
            $('#xubox_shade1').css('display', 'block');
            $('.xubox_layer').css('display', 'block');
            var strIds = "";
            $("input[name='cbx_item']").each(function () {
                if ($(this).attr("checked")) {
                    if (strIds.length > 0) {
                        strIds = strIds + ",";
                    }
                    strIds = strIds + $(this).val();
                }
            });

            $("#registerid").val(strIds);
        })

    })
    function closeTck() {
        $('#xubox_shade1').css('display', 'none');
        $('.xubox_layer').css('display', 'none');

    }
    function ck() {


        return true;

    }
    function choose(i) {
        if (i == 0) {
            $("tr[atr=\"rates\"]").hide();
            $("tr[atr=\"bonus\"]").show();
        } if (i == 1) {
            $("tr[atr=\"rates\"]").show();
            $("tr[atr=\"bonus\"]").hide();
        }
    }

</script>
