@model ChuangLitouP2P.Models.hx_AdminLimitInfo
@{
    ViewBag.Title = "编辑权限信息";
    Layout = "~/Areas/Admin/Views/Shared/_BodyView.cshtml";

    var cname = Model.ControllerName;
    var aname = Model.ActionName;
}

<link href="~/Areas/Admin/style/chonzhi.css" rel="stylesheet" />
<link href="~/Areas/Admin/style/jcDate.css" rel="stylesheet" />
<link rel="stylesheet" href="/Areas/Admin/styleCont/style.css" />
<link href="~/Areas/Admin/style/pagination.css" rel="stylesheet" />
<link href="~/Areas/Admin/style/liebiao.css" rel="stylesheet" />

<script src="~/Areas/Admin/js/jquery-1.7.1.js"></script>
<script src="~/Areas/Admin/jsCont/ajaxfileupload.js"></script>
<script src="~/Areas/Admin/js/jQuery-jcDate.js"></script>
<script src="~/Areas/Admin/js/common.js"></script>
<script src="~/Scripts/Validform_v5.3.2_min.js"></script>
<script src="~/Scripts/layer/layer.min.js"></script>

<style type="text/css">
    .tdleft {
        width: 20%;
        text-align: right;
    }

    .tdright {
        width: 80%;
        text-align: left;
    }

    tr {
        background: rgb(255, 255, 255);
        line-height: 30px;
    }

        tr td {
            line-height: 30px;
        }

            tr td input {
                height: 25px;
                line-height: 25px;
                width: 200px;
            }

            tr td select {
                height: 25px;
                line-height: 25px;
                width: 200px;
            }
</style>
<h2 class="z_location"><a href="javascript:void(0)">当前位置：</a><a href="javascript:void(0)" class="z_mg5">基础设置</a>><a href="javascript:void(0)" class="z_mg5">菜单管理</a></h2>
<div class="z_body">
    <span class="icon-sprite icon-list"></span>
    <h3 class="listtitle">
        新增菜单
    </h3>
    @using (Html.BeginForm("Editor", "Limit", FormMethod.Post, new { enctype = "multipart/form-data", @class = "registerform", @name = "Form1" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model=>model.id)
        <table width="100%" style="table-layout:fixed;margin-top:10px;">
            <tr>
                <td class="tdleft">
                    <label for="">菜单类型：</label>
                </td>
                <td class="tdright">
                    <select style="height: 24px;line-height:24px;width:200px;" disabled="disabled" name="level" id="level" datatype="n" nullmsg="请选择菜单类型！" errormsg="请选择菜单类型！">
                        <option value="">请选择</option>
                        <option value="1">栏目</option>
                        <option value="2">模块组</option>
                        <option value="3">页面</option>
                        <option value="4">按钮</option>
                    </select>
                    <span class="Validform_checktip"></span>
                    @Html.Hidden("hid_level",Model.level.ToString())
                </td>
            </tr>
            <tr id="tr_ParentId">
                <td class="tdleft">
                    <label for="">上级名称：</label>
                </td>
                <td class="tdright">
                    @Html.DropDownList("ParentId", ViewBag.ParentSelect as IEnumerable<SelectListItem>,new { @disabled = "true"})
                    @Html.Hidden("hid_ParentId",Model.ParentId.ToString())
                </td>
            </tr>
            <tr>
                <td class="tdleft">
                    <label for="">菜单名称：</label>
                </td>
                <td class="tdright">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @datatype = "*2-30", @nullmsg = "请输入菜单名称！", @errormsg = "菜单名称为2-30个字符！" } })
                    <span class="Validform_checktip"></span>
                </td>
            </tr>
            <tr id="tr_Controller">
                <td class="tdleft">
                    <label for="">控制器名称：</label>
                </td>
                <td class="tdright">
                    <input type="text" name="ConName" id="ConName" value="@(cname)" datatype ="*2-30" nullmsg = "请输入控制器名称！" errormsg = "控制器名称为2-30个字符！" />
                    <span class="Validform_checktip"></span>
                </td>
            </tr>
            <tr id="tr_Action">
                <td class="tdleft">
                    <label for="">方法名称：</label>
                </td>
                <td class="tdright">
                    <input type="text" name="ActName" id="ActName" value="@(aname)" datatype="*2-30" nullmsg="请输入方法名称！" errormsg="方法名称为2-30个字符！" />
                    <span class="Validform_checktip"></span>
                </td>
            </tr>
            <tr>
                <td class="tdleft">
                    <label for="">排序号：</label>
                </td>
                <td class="tdright">
                    @Html.EditorFor(model => model.SortId, new { htmlAttributes = new { @datatype = "n", @nullmsg = "请输入排序号！", @errormsg = "排序号为数字格式！" } })
                    <span class="Validform_checktip"></span>
                </td>
            </tr>
            <tr>
                <td class="tdleft"></td>
                <td class="tdright">
                    <input type="submit" id="btnSubmit" value="确定" class="btn1" />

                    &nbsp;<a href="#" onclick="javascript:history.back()" class="btn1" style="width:80px;"><span class="button white medium" style="width:80px;" id="getback">返回</span></a>
                </td>
            </tr>



        </table>
    }
</div>
<script type="text/javascript">

    $(function () {
        $("#borrowing_title").attr("ajaxurl", "/admin/DaiKuan/CheckTitle?key=@(ViewBag.id)");
        $(".registerform").Validform({
            tiptype: 4

        });
        $.extend($.Datatype, {
            "z2-4": /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/,
            "d": /^(\d{4})\-(\d{2})\-(\d{2})|(\d{4})\-(\d{1})\-(\d{1})|(\d{4})\-(\d{1})\-(\d{2})$/,
            "day1": /^[1-2]\d{0,1}$|^28$/,
            "mobile": /^0?(13[0-9]|15[012356789]|18[0123456789]|17[0123456789]|14[57])[0-9]{8}$/,
            "regex": /^[^\u4E00-\u9FA5]{3,20}$/,
            "regex1": /^[0-9A-Za-z]{6,25}$/,
            "float": /([0-9]+.[0-9]{2})[0-9]*/,
            "money": /^\d{1,12}(?:\.\d{1,2})?$/,
            "n": /^\d+$/,
            "daytime": /^(\d{4})\-(\d{2})\-(\d{2}) (\d{2}):(\d{2}):(\d{2})$/,
            "time2": /^(\d{4})\-(\d{1,2})\-(\d{1,2}) (\d{2}):(\d{2}):(\d{2})$/,
            "int": /[1-9]\d*/

        });
        

        setPage();
    });

    function setPage() {

        $("#level").val($("#hid_level").val());
        $("#ParentId").val($("#hid_ParentId").val());

        var val = $("#level").val();
        var tr_Controller = $("#tr_Controller");
        var tr_Action = $("#tr_Action");
        var tr_ParentId = $("#tr_ParentId");
        var ControllerName = $("#ControllerName");
        var ActionName = $("#ActionName");
        var ParentId = $("#ParentId");
        var defaulttxt = "无需填写";

        if (val == "3" || val == "4") {
            tr_Controller.show();
            tr_Action.show();
            tr_ParentId.show();
            ControllerName.val("");
            ActionName.val("");
        } else {
            tr_Controller.hide();
            tr_Action.hide();

            ControllerName.val(defaulttxt);
            ActionName.val(defaulttxt);

            if (val == "1") {
                ParentId.val("0");
                tr_ParentId.hide();
            } else {
                tr_ParentId.show();
            }

        }
    }

</script>

