
@{
    ViewBag.Title = "全民友福同享";
    Layout = "~/Views/Shared/Body_Layout.cshtml";
}

    @*<link href="~/Areas/activity/Sources/20161110/css/css.css" rel="stylesheet" />*@
    <link href="~/Areas/activity/Sources/20170106/css/css.css" rel="stylesheet" />
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="~/js/appScript.js"></script>
<script>
    (function (doc, win) { var docEl = doc.documentElement, recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) { return } var w = 20 * (clientWidth / 320); if (w > 40) { w = 40 } docEl.style.fontSize = w + "px" }; if (!doc.addEventListener) { return } if ("orientationchange" in window) { win.addEventListener("orientationchange", recalc, false) } win.addEventListener("resize", recalc, false); win.addEventListener("load", recalc, false); doc.addEventListener("DOMContentLoaded", recalc, false); recalc() })(document, window);
</script>
    <script type="text/javascript">
        $(function () {
            var paramVal = getUrlParam("app");

            if (paramVal == "clt") {
                $(".fenxiang").remove();
                $(".fixed").unbind("click");
            }
        });
    </script>



    <div class="w_yaoyou">
        <div class="w_yaoyou_main">
            <div class="w_yaoyou_main_1">
                <img src="~/Areas/activity/Sources/20170106/images/w_yaoyou_main_1_01.jpg" alt="">
                <img src="~/Areas/activity/Sources/20170106/images/w_yaoyou_main_1_02.jpg" alt="">
                <img src="~/Areas/activity/Sources/20170106/images/w_yaoyou_main_1_03.jpg" alt="">
            </div>
            <div class="w_yaoyou_main_2">
                <h2 class="w_yaoyou_main_2_h2">一重礼&nbsp送送送</h2>
                @*<img src="~/Areas/activity/Sources/20170106/images/w_centent_1_main_bg.png">*@
                <div class="w_centent_1_main">
                    <div class="w_centent_1_main_top">
                        <div class="w_centent_1_main_top_left">
                            <h2><span>邀请人</span>奖励</h2>
                            <p></p>
                        </div>
                        <div class="w_centent_1_main_top_right">
                            <dl>
                                <dt><img src="~/Areas/activity/Sources/20170106/images/w_centent_1_main_top_right_1.png"></dt>
                                <dd>每邀请1位好友注册（需实名），即奖励邀请人10元抵扣券；</dd>
                            </dl>
                            <dl>
                                <dt><img src="~/Areas/activity/Sources/20170106/images/w_centent_1_main_top_right_2.png"></dt>
                                <dd>每邀请1位好友注册（需实名）且在活动期内单笔首次投资满2000元（新手标除外）奖励10元现金；</dd>
                            </dl>
                            <dl>
                                <dt><img src="~/Areas/activity/Sources/20170106/images/w_centent_1_main_top_right_3.png"></dt>
                                <dd>活动期间每邀请5位好友实名注册，邀请人即获得2%加息券【需投资3个月以上标（含3个月标）才能使用】一张</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="w_centent_1_main_bottom">
                        <div class="w_centent_1_main_bottom_left">
                            <h2><span>被邀请人</span>奖励</h2>
                            <p></p>
                        </div>
                        <div class="w_centent_1_main_bottom_right">
                            <p><span>（需实名注册）</span></p>
                            <dl>
                                <dt><img src="~/Areas/activity/Sources/20170106/images/w_centent_1_main_top_right_3.png"></dt>
                                <dd>奖励2%加息券一张（需投资3月标及以上使用）</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w_yaoyou_main_3">
                <h2 class="w_yaoyou_main_3_h2">二重礼&nbsp奖奖奖</h2>
                @*<img src="~/Areas/activity/Sources/20170106/images/w_centent_2_main_bg.png">*@
                <div class="w_centent_2_main">
                    <h3><span></span>邀请好友投资，双方都有奖励<span></span></h3>
                    <img src="~/Areas/activity/Sources/20170106/images/w_centent_2_main_p_1.png" alt="">
                    <div class="w_centent_2_main_div">
                        <img src="~/Areas/activity/Sources/20170106/images/w_centent_2_main_div_1.png" alt="">
                        <p>
                            <span><a class="fixed5" href="#invite">立即邀请</a></span>
                            <span><a class="fixed5" href="#invite">立即邀请</a></span>
                        </p>
                    </div>

                    <ul class="w_centent_2_main_ul">
                        <li style="background-color:#692ce4;">
                            <span>投 1 个月:</span>
                            <a>双方各返<small>50</small>元</a>
                            <a>双方各返<small>150</small>元</a>
                        </li>
                        <li>
                            <span>投 3 个月:</span>
                            <a>双方各返<small>75</small>元</a>
                            <a>双方各返<small>200</small>元</a>
                        </li>
                        <li style="background-color:#692ce4;">
                            <span>投 6 个月:</span>
                            <a>双方各返<small>100</small>元</a>
                            <a>双方各返<small>250</small>元</a>
                        </li>
                    </ul>
                    <img src="~/Areas/activity/Sources/20170106/images/w_centent_2_main_p_2.png" alt="">
                    <div class="w_centent_2_main_div">
                        <img src="~/Areas/activity/Sources/20170106/images/w_centent_2_main_div_2.png" alt="">
                        <p>
                            <span><a class="fixed5" href="#invite">立即邀请</a></span>
                            <span><a class="fixed5" href="#invite">立即邀请</a></span>
                        </p>
                    </div>

                    <ul class="w_centent_2_main_ul">
                        <li style="background-color:#692ce4;">
                            <span>投 1 个月:</span>
                            <a>双方各返<small>50</small>元</a>
                            <a>双方各返<small>150</small>元</a>
                        </li>
                        <li>
                            <span>投 3 个月:</span>
                            <a>双方各返<small>75</small>元</a>
                            <a>双方各返<small>200</small>元</a>
                        </li>
                        <li style="background-color:#692ce4;">
                            <span>投 6 个月:</span>
                            <a>双方各返<small>100</small>元</a>
                            <a>双方各返<small>250</small>元</a>
                        </li>
                    </ul>
                    <sub>*以上数据仅供参考，具体收益将依据好友实际投资金额为准</sub>
                </div>
            </div>

            <div class="w_yaoyou_main_4">
                <h2 class="w_yaoyou_main_3_h2">三重礼&nbsp拿拿拿</h2>
                @*<img src="~/Areas/activity/Sources/20170106/images/w_centent_3_main_bg.png">*@
                <div class="w_centent_3_main">
                    <div class="w_centent_3_main_1">
                        <div class="w_centent_3_main_1_left">
                            <img src="~/Areas/activity/Sources/20170106/images/w_centent_3_main_top_left_img.png">
                            <p><b>活动期间：</b>邀请的好友（被邀请人）投资（可以是邀请的多个好友累加的投资额）≥200万，即奖励邀请人iPhone7 plus 128G玫瑰金 标配一部；</p>
                        </div>
                        <div class="w_centent_3_main_1_right">
                            <img src="~/Areas/activity/Sources/20170106/images/w_centent_3_main_top_right_img.png">
                            <p><b>活动期间：</b>邀请的好友（被邀请人）单笔投资额≥50万即赠送被邀请人2000元现金奖励；</p>
                        </div>
                    </div>
                    <div class="w_centent_3_main_2">
                        <ul class="w_centent_3_main_2_ul_left">
                            <li class="ul_left_tou"></li>
                            <li style="margin-top:-22px;"><a></a><span style="font-weight:bold">邀请人</span><span style="font-weight:bold">累计获得返现奖励</span></li>

                            @{

                                System.Data.DataTable JinE = ViewBag.JinE as System.Data.DataTable;
                                string mobile = "";
                                double amt = 0;
                                if (JinE != null)
                                {
                                    if (JinE.Rows.Count > 0)
                                    {
                                        for (int i = 0; i < JinE.Rows.Count; i++)
                                        {
                                            mobile = JinE.Rows[i]["mobile"].ToString();
                                            if (mobile.Length == 11)
                                            {
                                                mobile = mobile.Substring(0, 3) + "****" + mobile.Substring(7, 4);
                                            }
                                            amt = Convert.ToDouble(JinE.Rows[i]["amt"].ToString());

                                            if (i == 0)
                                            {
                                                <li style="background-color:#692ce4;"><a class="li_yi"></a><span style="margin-right:10px;">@mobile</span><span style="text-align: left;">￥ @amt</span></li>
                                            }
                                            else if (i == 1)
                                            {
                                                <li><a class="li_er"></a><span style="margin-right:10px;">@mobile</span><span style="text-align: left;">￥ @amt</span></li>
                                            }
                                            else if (i == 2)
                                            {
                                                <li style="background-color:#692ce4;"><a class="li_san"></a><span style="margin-right:10px;">@mobile</span><span style="text-align: left;">￥ @amt</span></li>
                                            }
                                            else if (i == 3)
                                            {
                                                <li><a>4</a><span style="margin-right:10px;">@mobile</span><span style="text-align: left;">￥ @amt</span></li>

                                            }
                                            else if (i == 4)
                                            {
                                                <li style="background-color:#692ce4;"><a>5</a><span style="margin-right:10px;">@mobile</span><span style="text-align: left;">￥ @amt</span></li>
                                            }
                                            else
                                            {

                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <li style="background-color:#692ce4;"><a></a><span style="margin-right:10px;">暂无数据！</span><span style="text-align: left;"></span></li>
                                }


                            }



                        </ul>
                        <ul class="w_centent_3_main_2_ul_right">
                            <li class="ul_right_tou"></li>
                            <li style="margin-top:-22px;"><a></a><span style="font-weight:bold">邀请人</span><span style="font-weight:bold">累计邀请人数</span></li>
                            @{

                                System.Data.DataTable dtcode = ViewBag.RenShu as System.Data.DataTable;
                                string mobile2 = "";
                                int count = 0;
                                if (dtcode != null)
                                {
                                    if (dtcode.Rows.Count > 0)
                                    {
                                        for (int i = 0; i < dtcode.Rows.Count; i++)
                                        {
                                            mobile = dtcode.Rows[i]["mobile"].ToString();
                                            if (mobile.Length == 11)
                                            {
                                                mobile2 = mobile.Substring(0, 3) + "****" + mobile.Substring(7, 4);
                                            }
                                            count = int.Parse(dtcode.Rows[i]["invcode"].ToString());

                                            if (i == 0)
                                            {
                                                <li style="background-color:#692ce4;"><a class="li_yi"></a><span>@mobile2 </span><span style="text-align:right;width:60px;margin-right:40px;">@count 人</span></li>
                                            }
                                            else if (i == 1)
                                            {
                                                <li><a class="li_er"></a><span>@mobile2 </span><span style="text-align:right;width:60px;margin-right:40px;">@count 人</span></li>
                                            }
                                            else if (i == 2)
                                            {
                                                <li style="background-color:#692ce4;"><a class="li_san"></a><span>@mobile2 </span><span style="text-align:right;width:60px;margin-right:40px;">@count 人</span></li>
                                            }
                                            else if (i == 3)
                                            {

                                                <li><a>4</a><span>@mobile2 </span><span style="text-align:right;width:60px;margin-right:40px;">@count 人</span></li>

                                            }
                                            else if (i == 4)
                                            {
                                                <li style="background-color:#692ce4;"><a>5</a><span>@mobile2 </span><span style="text-align:right;width:60px;margin-right:40px;">@count 人</span></li>
                                            }
                                            else { }
                                        }
                                    }
                                }
                                else
                                {
                                    <li style="background-color:#692ce4;"><a></a><span>暂无数据！ </span><span style="text-align:right;width:100px;margin-right:45px;"></span></li>

                                }
                            }




                        </ul>
                    </div>
                </div>
                <a href="/index.html" class="w_yaoyou_Btn">立即投资</a>
            </div>

            <div class="w_yaoyou_main_5">
                <div>
                    <img src="~/Areas/activity/Sources/20170106/images/w_yaoyou_main_5bg.png">
                    <p>
                        1、活动时间：2017年1月6日00:00:00至2017年3月31日23:59:59；
                        <br />
                        2、活动期间每投资一笔（不分首投和复投），当即进行返现，具体奖励细节参照下表：
                    </p>
                </div>
                <ul class="w_centent_4_main_ul_biao">
                    <li style="text-align:center;font-weight:bold;line-height: 0.25rem;" class="ul_biao_tou">邀请人/被邀请人奖励</li>
                    <li style="color:#f8c195;margin-top:-5px;"><span style="width:1.4rem;margin-left:0.1rem;">单笔投资额N（单位/元）</span><span>1月标</span><span>3月标</span><span>6月标</span></li>
                    <li style="background-color:#6126d7;"><span>100≤N＜5000</span><span>0.5%</span><span>1.0%</span><span>1.5%</span></li>
                    <li><span>5000≤N＜1万</span><span>1.0%</span><span>1.5%</span><span>2.0%</span></li>
                    <li style="background-color:#6126d7;"><span>1万≤N＜10万</span><span>1.5%</span><span>2.0%</span><span>2.5%</span></li>
                    <li><span>10万≤N＜50万</span><span>2.0%</span><span>2.5%</span><span>3.0%</span></li>
                    <li style="background-color:#6126d7;"><span>50万+</span><span>2.5%</span><span>3.0%</span><span>3.5%</span></li>
                </ul>
                <ul class="w_centent_4_main_ul">
                    <li>3、活动实物奖励将在活动结束后的10个工作日进行信息核对及奖品发放；</li>
                    <li>4、活动最终解释权在法律范围内归北京创利投网络科技有限公司所有。</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fenxiang">
        <img src="~/Areas/activity/Sources/20161110/images/fenxiang.png">
    </div>
@*<script src="~/Areas/activity/Sources/20160906/js/layer/layer.min.js"></script>*@
<script src="~/js/layer-v3.0.1/layer.js"></script>
    <script>
        $(".fixed5").on("click", function () {
            //layer.msg("大赚在季，有福同享，三重豪礼送送送，快去主站登录获得邀请码，邀请更多好友来参与吧！", 5, 1);

            var index = layer.msg('大赚在季，有福同享，三重豪礼送送送，快去主站登录获得邀请码，邀请更多好友来参与吧！', { icon: 6,time:5000 });
            //layer.style(index, {
            //    width: '100px',
            //    height: '100px'
            //});
            //location.href = data.url;
            });
        //$(".fixed5").on("click", function () {
        //    $(".fixed").hide();
        //    $(".fenxiang").show();
        //});
        //$(".fenxiang").on("click", "img", function () {
        //    $(".fenxiang").hide();
        //    $(".fixed").show();
        //});
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        wx.config({
            debug: false,
            appId: '@ViewBag.TXShareHelper.appid',
            timestamp: '@ViewBag.TXShareHelper.ts',
            nonceStr: '@ViewBag.TXShareHelper.ns',
            signature: '@ViewBag.TXShareHelper.sign',
            jsApiList: [
                'onMenuShareAppMessage',
                'onMenuShareTimeline'
            ]

        });
        wx.ready(function () {
            wx.onMenuShareAppMessage({
                title: '@ViewBag.TXShareHelper.title',
                desc: '@ViewBag.TXShareHelper.desc',
                link: '@ViewBag.TXShareHelper.link',
                imgUrl: '@ViewBag.TXShareHelper.imgUrl',
                type: 'link',
                dataUrl: '',
                success: function () {

                },
                cancel: function () {

                }
            });
            wx.onMenuShareTimeline({
                title: '@ViewBag.TXShareHelper.title',
                link: '@ViewBag.TXShareHelper.link',
                imgUrl: '@ViewBag.TXShareHelper.imgUrl',
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
        wx.error(function (res) {
            //alert(res);
        });
    </script>
    <script src="~/js/om_code.js"></script>
